.child-wrapper {
  padding: 12px;
  border: 1px dashed var(--mat-sys-outline-variant);
  border-radius: 12px;
}

.child-title {
  margin: 0 0 12px;
  font-size: 15px;
  font-weight: 500;
  color: var(--mat-sys-on-surface-variant);
}
